@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans 3';
  background-color: #201A19;
}

header{
  display: flex;
  justify-content: flex-start;
  padding: 41px;
  padding-left: 53px;
  padding-right: 53px;
  align-items: center;
  box-shadow: 0px 2px 3px var(--black-suave-color);    
}

nav.neferhotep> a{
  text-decoration: none;
  padding-right: 20px;
  font-size: 1.2rem;
  color: white;
}

.ml-auto{
  margin-left: auto;
  text-align: center;
}

img#icone{
  display: block;
  margin-right: 20px;
  margin-left: 10px;
}

div#title{  
  text-align: center;
  color: white;
}

img#seta{
  margin-top: 20px;
  position: absolute;
  top: 50%;
}

p{
  font-size: 1.35rem;
  color: white;
}

button{
  background-color: transparent;
  border: none;
  border-radius: 50px;
}

button:hover{
  background:  #a6a6a6;
}

button:active{
  background: #a6a6a6;
  top: 2px;
}

button > img{
    align-items: center;
    margin: 0 auto;
    padding-top: 5px;
}

.setas{
  display: grid;
  flex-wrap: wrap;
  background-color: Transparent;
  grid-template-columns: 1fr;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}


.grid1{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-right: 20px;
  margin-left: 20px;
  grid-gap: 20px;
  background-color: rgba(0, 0, 0, 0.67);
}

#container3D canvas {
  width: 70vw !important;
  height: 70vh !important;
  position: flex;
  top: 0;
  left: 0;
  background-color: black;
}

@media (max-width: 600px){
  button > img{
    align-items: center;
    margin: 0 auto;
    padding-top: 5px;
    height: 25px;
}
}